.jumbotron {
    padding-top: 5rem;
    height: 40rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
/*    div {
        
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
        height: 100%;
    }
    div.e1 { background: url(../images/slider/1.jpg) no-repeat center center fixed; }
    div.e2 { background: url(../images/slider/2.jpg) no-repeat center center fixed; }
    div.e3 { background: url(../images/slider/1.jpg) no-repeat center center fixed; }*/
    div {
        height: 100%;
        img {
            width: 100%;
            margin-top: -15%;
        }
    }
    .slick-dots {
        bottom: -25px;
    }
}
